/* import fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Zilla+Slab:ital,wght@1,300&display=swap");

.zilla_slab {
  font-size: 1rem;
  font-family: "Zilla Slab", serif;
}

h1 {
  font-size: 3rem;
  font-family: "Ubuntu", sans-serif;
}

h2 {
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
}

header {
  width: 100%;
  display: flex;

}

nav {
  border-bottom: #325d79 solid 2px;
  background-color: #325d79;
  width: 100%;
  display: flex;
  justify-content: end;
}

.nav_class {
  text-decoration: none;
  padding: 10px;
}

.sticky {
  position: sticky;
  top: 0;
}

a {
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
  color: #efeeee;
}

a:visited {
  color: #f26627;
}

a:hover {
  background-color: #f9a26c;
  text-decoration: underline;
}

.background {
  background-color: #9bd7d1;
  background-image: url(../images/background.jpg);
  background-size: cover;
}

.text_color {
  color: #efeeee;
}

/* image size */
img {
  width: 450px;
}

.grid_container {
  display: grid;
  grid-template-columns: 20rem;
  grid-template-rows: 8rem 4rem 2rem;
  grid-template-areas:
    "grid_h"
    "grid_p1"
    "grid_p2";
  width: 100%;
  justify-content: center;
}

.grid_h {
  grid-area: grid_h;
  justify-self: center;
}

.grid_p1 {
  grid-area: grid_p1;
  justify-self: center;
}

.grid_p2 {
  grid-area: grid_p2;
  justify-self: center;
}