/* import fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Zilla+Slab:ital,wght@1,300&display=swap");

.zilla_slab {
  font-size: 1rem;
  font-family: "Zilla Slab", serif;
}

h1 {
  font-size: 3rem;
  font-family: "Ubuntu", sans-serif;
  margin-top: 25px;
}

h2 {
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
}

a {
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
}

a:visited {
  color: #f26627;
}

a:hover {
  background-color: #325d79;
  text-decoration: underline;
}

.nav_class {
  text-decoration: none;
  padding: 10px;
}

nav {
  border-bottom: #325d79 solid 2px;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0;
}

.background {
  background-color: #9bd7d1;
  background-image: url(../images/background.jpg);
  background-size: cover;
}

.text_color {
  color: #efeeee;
}

/* image size */
img {
  width: 350px;
}
